@{
    ViewData["Title"] = "Home Page";
}


<h1>Bem vindo ao Pet Shop!</h1>

<img src = "/images/logo.jpg" style = "float:center;" width="100%" height="50%">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum purus velit, quis accumsan tellus finibus congue. Duis nibh ex, viverra non purus ac, volutpat consequat leo. Aenean semper eu velit eget condimentum. Nulla cursus quam quam, ut blandit ligula interdum eu. Maecenas gravida enim a interdum condimentum. Pellentesque eget rhoncus sem, id dignissim mauris. Duis non vulputate massa. Proin ac pretium arcu. Integer facilisis dignissim hendrerit. Duis interdum, est sed porta sagittis, lacus ante laoreet sem, in luctus leo tortor a sapien. Ut facilisis ex a mi vehicula, non vestibulum lacus facilisis. Ut nec vulputate ipsum. Mauris rhoncus lacus quis elit dapibus lacinia. Mauris in leo commodo, viverra orci at, tempus mauris. Proin erat neque, aliquam ut lacinia eget, vulputate ut risus. Morbi dictum finibus pellentesque.</p>

