<h1>Serviços</h1>
<div>
<p><h2>Tosa</h2></p>
<p>Descrição: Remoção dos pelos do seu animal de estimação</p>
<p>Valor:R$ 20,00</p>
</div>
<div>
    <p><h2>Vacinação</h2></p>
    <p>Descrição: Aplicação de vacinas em animais (mediante agendamento)</p>
    <p>Valor: R$35,00 + valor da vacina</p>
</div>
<div>
    <p><h2>Banho</h2></p>
    <p>Descrição: Limpeza e higienização do seu animal de estimação</p>
    <p>Valor: R$50,00</p>
</div>